<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Account:</strong>
  <%= @message.account_id %>
</p>

<p>
  <strong>Swipe:</strong>
  <%= @message.swipe_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
