<div class="center"><img  src=<%=asset_path('hello.PNG')%> width="300">
<style>
  body {
  background:#171717;
}
</style>

<h2 id="topper" style="color:white">Edit <%= resource_name.to_s.humanize %></h2>
<body class="center" style="color:white">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true  %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div  class="field">
      <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
    </div>

    <div class="field">
      <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
    </div>

    <div class="field">
      <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name"%>
    </div>

    <div class="field">
      <%= f.label :interests %><br />
      <%= f.select :interests, [['McDonalds','mcdonalds'],['SuperMacs','supermacs'],['Moms Cooking','moms cooking']],
        {:multiple=>true} %>
    </div>

    <div class="field">
      <%= f.label :skills %><br />
      <%= f.select :skills, [['Chess','chess'],['Overwatch','overwatch'],['Hacking','hacking']],
        {:multiple=>true} %>
    </div>

    <div class="field">
      <%= f.label :new_password %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "******"  %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password"%>
    </div>

    <div class="field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <p>
    <%= link_to  "Cancel my account", registration_path(resource_name), class: "btn btn-outline-danger", data: { confirm: "Are you sure?" }, method: :delete %>
  </p>
  <p>
    <a style="color:white;" href="http://localhost:3000/browse" class="btn btn-outline-success">Back to Browsing</a>
  </p>
</body>
</div>
