<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @conversation.account_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @conversation.project_id %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
