<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card text-white bg-success mt-proj">

    <div class="card-header">
      <span class="dg-bold">Edit</span>
      <%= link_to "Back to Browsing", browse_path, class: "float-right dg" %>
    </div>
    <div class="card-body lgb">
      <h5 class="card-title text-white">My Profile</h5>
      <div class="card-text">
      <table>

        <div class="field">
          <%= form.hidden_field :account_id, value: current_account.id %>
        </div>

        <tr class="field">
          <td><%= form.label :name %></td>
          <td><%= form.text_field :name %></td>
        </tr>

        <tr class="field">
          <td><%= form.label :bio, "About Me" %></td>
          <td><%= form.text_area :bio, size: "30x3" %></td>
        </tr>

        <tr class="field">
          <td><%= form.label :profile_pic, "Profile Picture" %></td>
          <td>
          <% if profile.profile_pic.attached? %>
            <%= image_tag profile.profile_pic, width: "250px" %>
          <% end %>

          <%= form.file_field :profile_pic %>
          </td>
        </tr>


        <tr class="field">
          <td><%= form.label :skills %></td>

          <% replacements = {
              '[' => '', ']' => '',
              '/' => '', '"' => ''} %>
          <% if @profile.skills=="[\"\"]"
          selected_skills = []
          else
          selected_skills = @profile.skills.gsub(Regexp.union(replacements.keys), replacements)[2..-1].split(", ")
          end %>

          <td><%= form.select(:skills, [['Python', 'Python'],
                                    ['JavaScript', 'JavaScript'],
                                    ['C#', 'C#'],
                                    ['Ruby', 'Ruby'],
                                    ['HTML', 'HTML']
                                   ], {:selected => selected_skills, :include_blank => true },
                                     { :multiple => true }
                                   ) %></td>
        </tr>


    </table>
    <div class="actions">
      <%= form.submit "Update Profile", :class => "btn bg-dark text-white" %>
    </div>
    </div>
    </div>
  </div>
<% end %>
