<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card text-white bg-success mt-proj">

    <div class="card-header">
      <span class="dg-bold">Edit</span>
      <%= link_to "Back to Browsing", browse_path, class: "float-right dg" %>
    </div>
    <div class="card-body lgb container">
      <h5 class="card-title text-white">My Profile</h5>
      <div class="card-text mb-5">

        <div class="field">
          <%= form.hidden_field :account_id, value: current_account.id %>
        </div>

        <div class="field row">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-xs-3" align="left"><%= form.label :name %></div>
          <div class="col" align="left"><%= form.text_field :name %></div>
        </div>

        <div class="field row">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-xs-3" align="left"><%= form.label :bio, "About Me" %></div>
          <div class="col" align="left"><%= form.text_area :bio, size: "25x3" %></div>
        </div>

        <div class="field row">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-xs-3" align="left"><%= form.label :profile_pic, "Profile Picture" %></div>

          <div class="col" align="left">
          <div class="">
          <% if profile.profile_pic.attached? %>
            <%= image_tag profile.profile_pic, class: "image" %>
          <% end %>
          </div>

          <div class="file-input-div mb-1">
          <%= form.file_field :profile_pic, accept: 'image/png,image/gif,image/jpeg', class: "file-upload" %>
          </div>

          </div>

        </div>


        <div class="field row">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-xs-3" align="left"><%= form.label :skills %></div>

          <% replacements = {
              '[' => '', ']' => '',
              '/' => '', '"' => ''} %>
          <% if @profile.skills=="[\"\"]"
          selected_skills = []
          else
          selected_skills = @profile.skills.gsub(Regexp.union(replacements.keys), replacements)[2..-1].split(", ")
          end %>

          <div class="col" align="left"><%= form.select(:skills, [['Python', 'Python'],
                                    ['JavaScript', 'JavaScript'],
                                    ['C#', 'C#'],
                                    ['Ruby', 'Ruby'],
                                    ['HTML', 'HTML']
                                   ], {:selected => selected_skills, :include_blank => true },
                                     { :multiple => true }
                                   ) %></div>
        </div>


    </div>
    <div class="actions" align="left">
      <%= form.submit "Update Profile", :class => "btn bg-dark text-white" %>
    </div>
    </div>
  </div>
<% end %>
