<div class="card bg-dark">
  <div class="row">
    <div class="col">
    <div class="card-header" style="color: white;">Liked Projects</div>
    </div>
    <div class="col">
    <a class="btn btn-success mt-1" data-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false" aria-controls="multiCollapse1">Toggle</a>
    </div>
  </div>
  <div class="card-body collapse multi-collapse show" id="multiCollapse1">
    <% @liked_projects.each do |proj| %>
    <h5 class="card-title"><%= link_to proj.title, proj, class: "proj-links" %></h5>

    <p class="card-text">
      <%= link_to "@"+Account.find(proj.account_id).profile.name, Profile.find_by(account_id: proj.account_id), class: "proj-links" %> |
       <span style="color: white;" id=<%= "swipe"+ Swipe.find_by(project_id: proj.id, account_id: current_account.id).id.to_s %> >
         <% if Swipe.find_by(project_id: proj.id, account_id: current_account.id).messages.last.nil? %>
         No messages.
         <% else %>
           <%= Account.find(Swipe.find_by(project_id: proj.id, account_id: current_account.id).messages.last.account_id).profile.name %>
          <%= markdown (" : "+Swipe.find_by(project_id: proj.id, account_id: current_account.id).messages.last.body[0..20].gsub('<br>', "").gsub('\\', '')) +'...' %>
         <% end %>
       </span>
       <a href=<%= swipe_path(Swipe.find_by(project_id: proj.id, account_id: current_account.id)) %> >
        <i class="fa fa-comment" style="color: springgreen;"></i>
      </a>
     </p>
    <% end %>
  </div>
</div>
