<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card text-white bg-success mt-proj">

    <div class="card-header" align="left">
      <span class="dg-bold">Create</span>
      <%= link_to "Back to Browsing", browse_path, class: "float-right dg" %>
    </div>
    <div class="card-body lgb container">
      <h5 class="card-title text-white">My Projects</h5>
      <div class="card-text mb-5">

  <div class="field row">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-xs-3 form-col" align="left"><%= form.label :title %></div>
    <div class="col" align="left"><%= form.text_field :title, class: "input-field" %></div>
  </div>

  <div class="field row">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-xs-3 form-col" align="left"><%= form.label :description %></div>
    <div class="col" align="left"><%= form.text_area :description, class: "input-field-area" %></div>
  </div>

  <div class="field row">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-xs-3 form-col" align="left"><%= form.label :image %></div>

    <div class="col" align="left">
    <div class="">
    <% if project.image.attached? %>
      <%= image_tag project.image, class: "image" %>
    <% end %>
    </div>

    <div class="file-input-div mb-1">
    <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg', class: "file-upload" %></div>
    </div>

  </div>

  <div class="field row">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-xs-3 form-col" align="left"><%= form.label :skills %></div>
    <div class="col" align="left"><%= form.select(:skills, @skills_list, {:include_blank => true },
                               { :multiple => true }
                             ) %></div>
  </div>


  <div class="field row">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-xs-3 form-col" align="left"><%= form.label :category %></div>
    <div class="col" align="left"><%= form.select(:category, @category_list,
                               {:include_blank => true },
                               { :multiple => false }
                             ) %></div>
  </div>

  <div class="field">
    <%= form.hidden_field :account_id, value: current_account.id %>
  </div>

  </div>

  <div class="actions">
    <%= form.submit "Create Project", :class => "btn bg-dark text-white" %>
  </div>

</div>
</div>
<% end %>
