<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card text-white bg-success mt-proj">

    <div class="card-header">
      Create Project
      <%= link_to "Back", browse_path, class: "float-right" %>
    </div>
    <div class="card-body">
      <h5 class="card-title">Add a new project!</h5>
      <p class="card-text">

        <div class="field">
          <%= form.label :title %>
          <%= form.text_field :title %>
        </div>

        <div class="field">
          <%= form.label :description %>
          <%= form.text_area :description %>
        </div>

        <div class="field">
          <%= form.label :image %>

          <% if project.image.attached? %>
            <%= image_tag project.image %>
          <% end %>

          <%= form.file_field :image %>
        </div>


        <div class="field">
          <%= form.label :skills %>
          <% replacements = {
              '[' => '', ']' => '',
              '/' => '', '"' => ''} %>
          <% if @project.skills=="[\"\"]" or ""
          selected_skills = []
          else
          selected_skills = @project.skills.gsub(Regexp.union(replacements.keys), replacements)[2..-1].split(", ")
          end %>

          <%= form.select(:skills, [['Python', 'Python'],
                                    ['JavaScript', 'JavaScript'],
                                    ['C#', 'C#'],
                                    ['Ruby', 'Ruby'],
                                    ['HTML', 'HTML']
                                   ], {:selected => selected_skills, :include_blank => true },
                                     { :multiple => true }
                                   ) %>
        </div>

        <div class="field">
          <%= form.label :category %>
          <%= form.text_area :category %>
        </div>

        <div class="field">
          <%= form.hidden_field :account_id, value: current_account.id %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>

    </p>
  </div>
</div>

<% end %>
