<div class="card text-white bg-success mt-proj">

  <div class="card-header">
    <%= Account.find(@project.account_id).email %>
    <%= link_to "Back", browse_path, class: "float-right" %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Title: <%= @project.title %></h5>
    <p class="card-text">Description: <%= @project.description %></p>
    <p class="card-text">Skills: <%= @project.skills %></p>
    <p class="card-text">Category: <%= @project.category %></p>
  </div>
</div>
<% if current_account.id==@project.account_id %>
<%= link_to "Edit", edit_project_path(@project) %>
<% end %>
