<div class="card text-white bg-success mt-proj">

  <div class="card-header">
    <span class="dg-bold"><%= @profile.name %></span>
    <%= link_to "Back to Browsing", browse_path, class: "float-right dg" %>
  </div>
  <div class="card-body lgb">
    <p class="card-text"><span class="white-text"> About me: </span> <br/> Here's my bio.</p>
    <% if @profile.profile_pic.attached? %>
      <%= image_tag @profile.profile_pic %>
    <% end %>
    <% replacements = {
        '[' => '', ']' => '',
        '/' => '', '"' => ''} %>
    <p class="card-text"><span class="white-text"> Skills: </span> <%= @profile.skills.gsub(Regexp.union(replacements.keys), replacements)[2..-1] %></p>
  </div>
</div>
<% if current_account.id==@profile.account_id %>
<%= link_to "Edit", edit_profile_path(@profile) %>
<% end %>
