<%= form_with(model: swipe, local: true) do |form| %>
  <% if swipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(swipe.errors.count, "error") %> prohibited this swipe from being saved:</h2>

      <ul>
        <% swipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :account_id, value: current_account.id %>
  </div>

  <div class="field">
      <%= form.hidden_field :project_id, value: @project_to_swipe.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :liked, value: true %>
  </div>

  <div class="actions">
    <%= form.submit "Like" %>
  </div>
<% end %>
