<div id="acc_id" data-acc-id=<%= current_account.id %>></div>
<div id="swipe_id" data-swipe-id=<%= @swipe.try(:id) %>></div>

<div align="center">
  <div class="blinking">
    { Hello, friend! }</div>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-6 col-xl-3">

      <div class="text-center">

      </div>

      <div class="col">
        <div class="row">
          <div class="col-12">
              <div class="card bg-success">
              <div class="card-header" align="center">
                <%= link_to @my_profile.name.upcase, @my_profile, class: "my-prof-header" %>
              </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <%= render partial: "partials/liked_projects" %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <%= render partial: "partials/my_projects" %>
          </div>
        </div>
      </div>




    </div>

    <div class="col-2"></div>

    <div class="col-5">
      <% if @project_to_swipe.present? %>
      <%= render "partials/project_to_swipe" %>
      <div class="row justify-content-center">
      <%= render "partials/swipe_like", swipe: Swipe.new %>
      <%= render "partials/swipe_dislike", swipe: Swipe.new %>
      </div>
      <% elsif @no_projects_left.present? %>
        <%= render "partials/no_projects_left" %>
      <% elsif @swipe.present? %>
        <div id="messages">
        <%= render "partials/show_messages" %>
        </div>
        <%= render "partials/send_message_form", message: Message.new %>
      <% elsif @new_project.present? %>
        <%= render "partials/new_project_form", project: Project.new %>
      <% elsif @project.present? %>
        <%= render "partials/project" %>
      <% elsif @new_profile.present? %>
        <%= render "partials/profile_form", profile: Profile.new %>
      <% elsif @edit_profile.present? %>
        <%= render "partials/edit_profile_form", profile: @profile %>
      <% elsif @profile.present? %>
        <%= render "partials/show_profile" %>
      <% end %>

      <div align="center">
        <%= link_to "Sign out", destroy_account_session_path, method: :delete, class: "btn btn-secondary mt-3" %>
      </div>
    </div>

    <div class="col-2"></div>

  </div>
</div>
