<div>

<%= javascript_pack_tag 'homepageScroll', 'data-turbolinks-track': 'reload' %>

<div align="center">
  <div class="typewriter">
    <div class="typewriter-text">
      { Hello, friend! }
    </div>
  </div>
  <div class="container mb-5" align="center">
    <h1 class="fade-in" style="color:white;">Welcome!</h1>
    <br/>
    <h2 class="fade-in">
      <a style="color:lightgreen;" href=<%= new_account_registration_path %> >Sign up</a>
    </h2>
    <h5 class="fade-in">
      <a style="text-decoration:underline; color:darkgreen;" href=<%= new_account_session_path %> >Log in</a>
    </h5>
  </div>
</div>


<h3 class="container fade-in mb-2 mt-5" align="center" style="color:white">
  Why should I use { Hello, friend }?
</h3>

<div class="col text-center mb-5 homepagebutton">
<button id="click" type="button" class="btn btn-success btn-lg">Find out </button>
</div>

<div class="row fade-in info">
  <div class="col-xl-4 col-lg-6 mb-5" style="color:#b8b8b8" align="center">
    <h1><strong>Improve Skills</strong></h1>
    <img src= <%=asset_path('code.png') %> height=150 />
    <div>
      <h5>Develop skills in many areas</h5>
      <h5>using an easy collaborative enviroment.</h5>
      <h5>Encourages learning and working together</h5>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 mb-5" style="color:#b8b8b8" align="center">
    <h1><strong>Teamwork</strong></h1>
    <img class="middle-img" src= <%=asset_path('collab.png') %> height=150/>
    <div>
      <h5>Discover and create project ideas.</h5>
      <h5>Collaborate together and share </h5>
      <h5>ideas and knowledge</h5>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12 mb-5" style="color:#b8b8b8" align="center">
    <h1><strong>Networking</strong></h1>
    <img src= <%=asset_path('globe_dark.png') %> height=150 />
    <div>
      <h5>Meet others with similar interests and</h5>
      <h5>skills. Share project ideas easily.</h5>
      <h5>Connect with like-minded people. </h5>
    </div>
  </div>

</div>


</div>
