<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @swipe.account_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @swipe.project_id %>
</p>

<p>
  <strong>Liked:</strong>
  <%= @swipe.liked %>
</p>

<%= link_to 'Edit', edit_swipe_path(@swipe) %> |
<%= link_to 'Back', swipes_path %>
