<body style="margin-left:10%; margin-top:5%; color:white">

<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" style="color:white">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="visibility:none">
      <%= form.hidden_field :account_id, :value => current_account.id, :readonly => true %>
    </div>



  <div class="field" style="color:white">
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </div>

  <div class="field" style="color:white">
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </div>

  <div class="field" style="color:white">
    <%= form.label :skills %><br />
    <%= form.text_area :skills %>
  </div>

  <div class="field" style="color:white">
    <%= form.label :category %><br />
    <%= form.text_area :category %>
  </div>

  <div class="actions" style="color:white">
    <%= form.submit %>
  </div>
<% end %>

</body>
