<p id="notice"><%= notice %></p>


<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>


<body style="margin-left:10%; margin-top:5%">
  <h1 style="color:white">Projects</h1>

  <table style="color:white; background-color:#272727; text-align:center">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Skills</th>
        <th>Category</th>
        <th colspan="3">Tools</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= project.skills %></td>
          <td><%= project.category %></td>
          <td><%= link_to 'Show', project, class: "btn btn-outline-info" %></td>
          <td><%= link_to 'Edit', edit_project_path(project), class: "btn btn-outline-warning" %></td>
          <td><%= link_to 'Delete', project, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <p>
    <a style="color:white;" href="/projects/new" class="btn btn-outline-primary">New Project</a>
  </p>
  <p>
    <a style="color:white;" href="browse" class="btn btn-outline-success">Back to Browsing</a>
    <%= link_to 'Back to Browsing', browse_path, class: "btn btn-outline-warning" %>
  </p>
</body>
