<p id="notice"><%= notice %></p>

<p style="color:white">
  <strong>Account:</strong>
  <%= @project.account_id %>
</p>

<p style="color:white">
  <strong>Title:</strong>
  <%= @project.title %>
</p  style="color:white">

<p style="color:white">
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p style="color:white">
  <strong>Skills:</strong>
  <%= @project.skills %>
</p>

<p style="color:white">
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
