
<body style="margin-left:10%; margin-top:5%; color:white">

  <p id="notice"><%= notice %></p>

  <h1 style="color:white; font-size:60px;">
    <strong>Project Details</strong>

  </h1>

  <h1 style="color:white; font-size:30px;">
    <strong>Title:</strong>
    <%= @project.title %>
  </h1>

  <h3 style="color:white; line-height:20px;font-size:20px;">
    <strong>Description:</strong>
    <%= @project.description %>
  </h3>

  <h4 style="color:white; line-height:20px;font-size:20px;">
    <strong>Skills:</strong>
    <%= @project.skills %>
  </h4>

  <h4 style="color:white; line-height:20px;font-size:20px;">
    <strong>Category:</strong>
    <%= @project.category %>
  </h4>
<p></p>
  <p>
  <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-outline-warning", style: "color:white" %>
  </p>

  <p>
  <%= link_to 'Projects', projects_path, class: "btn btn-outline-primary", style: "color:white" %>
  </p>

  <p>
    <%= link_to 'Back to Browse', browse_path, class: "btn btn-outline-success", style: "color:white" %>
  </p>

</body>
