<!DOCTYPE html>
<html>
  <head>
    <title>{ Hello, Friend! }</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta
      name="description"
      content="Submission for CERN Webfest 2020"
    />

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML" id="">
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>


    <script type="text/javascript">
      if (window.MathJax) {MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}
    </script>

  </body>
</html>
